body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: darkslategrey;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: olive;
  font-size: 16px;
  font-weight: 100;
}
.weather-wrap {
  max-width: 600px;
  margin: 30px auto;
}
.weather {
  padding: 20px;
  border: 2px solid rgba(240, 240, 224, 0.933);
  border-radius: 15px;
  background: url(https://images.pexels.com/photos/2908983/pexels-photo-2908983.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}
